<!DOCTYPE html>
<html>
<head>
  <title>Proses Pembayaran</title>
</head>
<body>
  <h2>Pembayaran</h2>
  <p>Silakan bayar ke rekening Bank ABC: 123456789 a.n Hotel Hebat</p>
  <form action="/booking/konfirmasi" method="POST">
    <label>Upload Bukti Pembayaran (simulasi):</label><br>
    <input type="text" name="payment_code" placeholder="Masukkan kode transaksi" required><br><br>
    <button type="submit">Konfirmasi</button>
  </form>
</body>
</html>
